.main_creative{
    padding:0px 20px 40px;
    background-color: white;
}
.main_creative > ul {
    margin-top: 20px;
    margin-bottom: 0;
}
.card_main {
    overflow: hidden;
    margin-top: 25px;
    border-radius: 7px;
    border: 1px solid #dadce0;
    background: #FFF;
}
.card_main img { 
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card_main h4:after {
    content: '';
    background: url(../public/images/pencil.svg) no-repeat;
    background-size: 100% 100%;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 0;
    opacity: 0;
    top: 4px;
}
.card_main h4:hover::after {
    opacity: 1;
}
.card_main h4 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom:5px;
    color:#1B75BB;
    cursor: pointer;
    position: relative;
}
.card_main p{
    font-size: 14px;
    font-weight: 500;
    color: #202124;
}
.card_span{
    text-align: right;
}
.card_span span{
    font-size: 14px;
    font-weight: 300;
    color: #5F6368;
}
.custom_search_box {
    width: 200px;
}
.custom_search_box input{
    padding-left:5px ;
}
.card_main audio {
    width: 100%;
    background: #f1f3f4;
    height: 35px;
}
.card_main video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card_media {
    height: 180px;
    position: relative;
}
.card_media:after {
    content: '';
    background: hsl(0deg 0% 0% / 50%);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.card_media:hover:after, .card_media:hover span {
    opacity: 1;
}
.card_media span {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    color: #fff;
    opacity: 0;
    z-index: 9;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
  }
/* .audio_img {
    height: 145px !important;
} */
.card_bop {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 25px;
}
.card_bop .card_box {
    width: 100%;
}
/*-- Card Css --*/

.card_body h4 span {
    margin: 0;
    font-size: 12px;
    color: #5F6368;
    font-weight: 400;
}




@media screen and (min-width:1200px) and (max-width:1750px) {
    .card_bop {
        grid-template-columns: repeat(5, 1fr);
    }
  }
